<div id="floating-video" style="display:none"> 
    <span style="float:right" class="glyphicon glyphicon-remove" onclick="deleteVideo()"></span>
    <iframe width="300" height="200" controls id="floatingsrc" src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    </iframe>
</div>

<script>
    document.getElementById("floatingsrc").src = localStorage.video
    if(localStorage.video!=''){
        document.getElementById("floating-video").style='display:block'
    }
    function deleteVideo(){
        console.log(localStorage.video)
        localStorage.video =''
        document.getElementById("floating-video").style='display:none'
    }
</script>
<style>
    body {
        position: relative;
    }

    #floating-video {
        width: auto;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index:150;
    }
    @media(max-width:768px){
    	#floating-video{
    		display:none;
    	}
    }
</style>