<div id="app" style="display:none">
    <div class="input-search">
        <input type="text" class="form-control" palceholder="Escriba aqui para buscar..." v-model="input" style="height:34px">
        <button  @click="getVideos()" class="btn btn-success btn-youtube" style="height:34px">Buscar &nbsp;<span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div v-show="searching">
        <img src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
    </div>
    <div id="container-videos" :class="(videos.items) ? 'max-height':''">
        <div class="videos" v-for="video in videos.items" @click=changeVideo(video.id.videoId)>
            <div>
                <img :src="video.snippet.thumbnails.medium.url" width="150px">
            </div>
            <div>
                <b><p>{{video.snippet.title}}</p></b>
                <p>{{video.snippet.description.substr(0.50)}}...</p>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    videos: {},
                    searching: false,
                    input: ''
                }
            },
            methods: {
                getVideos(event) {
                    this.videos = {}
                    this.searching = true
                    console.log(event)
                    axios.get('https://www.googleapis.com/youtube/v3/search?key=AIzaSyCO0ZpynFcVp9sorZa0yOTg2B6YG5rNq3k&part=id,snippet&regionCode=UY&maxResults=30&q=' + this.input)
                        .then((data) => {
                            console.log(data.data.items[0].id)
                            this.videos = data.data
                            this.searching = false
                        })
                },
                changeVideo(id){
                    console.log(id)
                    document.getElementById("url").value='https://youtube.com/embed/' + id
                    this.videos = {}
                }
            }
        })
    </script>
    <style>
        .videos {
            display: grid;
            grid-template-columns: 40% 60%;
            cursor: pointer;
            margin-bottom: 5px;
        }
        .max-height{
            height: 300px!important;
            transition: height 0.25s ease-in;
        }
        #container-videos{
            overflow-y: auto;
            height:0;
            -webkit-transition: height 1s ease;
            -moz-transition: height 1s ease;
              -o-transition: height 1s ease;
             -ms-transition: height 1s ease;
                 transition: height 1s ease;        
        }
        .input-search{
            display: grid;
            grid-template-columns: 70% 30%;    
            margin-bottom:5%;        
        }
        #container-videos:hover{
            height: 600px!important;           
        }
        .input-search > *{
            width:100%;
        }
        .btn-youtube{
		    border-bottom-left-radius: 0px;
		    border-top-left-radius: 0px;
		    height: 31px;
		    right: 5px;
		    position: relative;
		    background: #cc0000;
		    border: none;
		    font-weight: 700;
        }
    </style>